html {
  background-color: #85A5D4;
}

body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  max-width: 900px;
  padding: 5px;
}

.tariffs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 0px;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.15);
  padding-top: 15px;
  padding-bottom: 20px;
}

.tariffs > a {
  text-decoration: none;
  width: calc(100% / 3 - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  padding-top: 15px;
  padding-bottom: 20px;
}

.tariffs > a:hover {
  background-color: rgba(221, 221, 221, 0.35);
}

.tariffs__icon {

}

.tariffs__icon > img {
  width: 70px;
}

.tariffs__name {
  color: #5572D6;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 40px;
  letter-spacing: 2px;
  font-size: 1.3em;
}

.tariffs__description {
  color: #aba9a9;
  font-size: 0.9em;
  text-align: center;
  padding: 0px 10px;
}

.tariffs__price {
  color: #5572D6;
  margin-top: 20px;
}

.tariffs__price-currency {
  vertical-align: super;
  margin-right: -4px;
}

.tariffs__price-value {
  font-weight: bold;
  font-size: 1.6em;
}

.tariffs__price-period {
  vertical-align: bottom;
  font-size: 0.9em;
  font-weight: bold;
}

@media (max-width: 750px)
{
  .tariffs > a {
    width: calc(100% / 3);
  }
}

@media (max-width: 515px)
{
  .tariffs > a {
    width: 100%;
    flex-direction: row;
  }

  .tariffs__name {
    display: none;
  }

  .tariffs__description {
    text-align: left;
    width: 60%;
  }

  .tariffs__price {
    margin: 0px;
  }

  .tariffs {
    padding: 0px 10px;
  }
}

@media (max-height: 600px) {
  .tariffs {
    margin: 10px 0px;
  }
}